FILE_NAME         = Program.lor     # File name of in file
PROFILE_NAME      = None            # Name of json profile
ACTION            = build           # Action to perform
OUTPUT_FILE       = compiled.txt    # Out file name
LOG_INFOO         = None            
ACTION_ON_ERROR   = None
BUILD_OFFSET      = 0
SPEED             = -1
CONSTS            = []
SAVE_IN_ONE_FILE  = False
LOG_COMMAND_MODE  = None
RAM_DEBUG_MODE    = row
LOG_COMMAND_MODE  = short
USE_FANCY_SYNAX   = True


RAISE_ERROR_ON_NOT_IMPLEMENTED_BIN_FORMATING = False
RAISE_ERROR_ON_NOT_IMPLEMENTED_EMULATOR      = True
DEBUG_MODE                                   = simple


USE_DATA_BLOCKS                 = True
DEFAULT_PROFILES_PATH           = profiles
G_RISE_ERROR_ON_BAD_RANGES      = False      # [True, False] if bad range appears, the error will be rised. 
FORCE_COMMANDS_IN_SEPERATE_ROWS = True       # [True, False] commands will always be in seperate rows
CHECK_ROM_SIZE                  = -1         # int           if not -1 compiler will check if program is bigger that hardwere rom
IGNORE_DEBUG_COMMANDS           = False      # [True, False] if true debug commands will be ignored
IGNORE_EMPTY_PROGRAMS           = True       # [True, False] if sector is empty, will not be saved.


CPYTHON_PROFILING = False                    # [True, False] 
TIME_MILTIPLAYER  = 0.5                      # float         
SHOW_RAW_PROGRAM  = False                    # [True, False] 
DEFINITION_DEBUG  = False                    # [True, False] 